@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-logo: "jost", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-game: "Libertinus Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-primary: #3b142a;
  --color-secondary: #f3efda;
  --color-pink: #ff319f;
  --color-card: #ffc481;
}
